# Base16 {{scheme-name}}
# Author: {{scheme-author}}

set completion-fg               "#{{base05-hex}}"
set completion-bg               "#{{base01-hex}}"
set completion-group-fg         "#{{base05-hex}}"
set completion-group-bg         "#{{base01-hex}}"
set completion-highlight-fg     "#{{base0D-hex}}"
set completion-highlight-bg     "#{{base01-hex}}"
set default-fg                  "#{{base05-hex}}"
set default-bg                  "#{{base00-hex}}"
set inputbar-fg                 "#{{base05-hex}}"
set inputbar-bg                 "#{{base01-hex}}"
set notification-fg             "#{{base0B-hex}}"
set notification-bg             "#{{base01-hex}}"
set notification-error-fg       "#{{base08-hex}}"
set notification-error-bg       "#{{base01-hex}}"
set notification-warning-fg     "#{{base09-hex}}"
set notification-warning-bg     "#{{base01-hex}}"
set tabbar-fg                   "#{{base05-hex}}"
set tabbar-bg                   "#{{base01-hex}}"
set tabbar-focus-fg             "#{{base0D-hex}}"
set tabbar-focus-bg             "#{{base01-hex}}"
set statusbar-fg                "#{{base05-hex}}"
set statusbar-bg                "#{{base01-hex}}"
set highlight-color             "#{{base0A-hex}}"
set highlight-active-color      "#{{base0B-hex}}"
set highlight-transparence 0.5
set recolor-darkcolor           "#{{base05-hex}}"
set recolor-lightcolor          "#{{base00-hex}}"
set render-loading-fg           "#{{base05-hex}}"
set render-loading-bg           "#{{base01-hex}}"
set index-fg                    "#{{base05-hex}}"
set index-bg                    "#{{base01-hex}}"
set index-active-fg             "#{{base0D-hex}}"
set index-active-bg             "#{{base01-hex}}"
